// @import "./_variables.scss";
@import "./reset.scss";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:local('Roboto'), url("~/assets/fonts/Roboto/Roboto-Regular.ttf")  format("truetype")
}